<%include partials/header.ejs%>
  <%include partials/nav.ejs%>

  <section class="my-5">
    <div class="container">
      <h1>Hello, world!</h1>
    </div>
  </section>
<%include partials/footer.ejs%>
